---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

## University of Twente
* Tutorial Assistant
  * Data Analysis
  * Research Methodology and Descriptive Statistics
  * Technology, Organisation, and People
* Guest Lecture
  * Smart Mobility - Human-AI teaming in mobility

## University of Southern California
* Graduate Teaching Assistant
  * Statistics
  * Non Experimental Research Methods
  * Origins of the Mind

## Purdue University
* Undergraduate Teaching Assistant
  * Mathematics for Elementary Teachers I
  * Mathematics for Elementary Teachers II
  * Statistical Theory

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
